*{
  background-color: #064E3B;
}

.top-text{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  color: #F0ABFC;
  margin-top: 3vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.3em;
    grid-auto-rows: minmax(1fr, auto);
    grid-auto-columns: minmax(1fr, auto); 
    width: 100%;
    width: 700px; 
    height: 80px; 
    flex: 0; 
    margin: auto;
  }

.wrapper > div {
    display: flex;
    background: #F0ABFC;
    padding-bottom: 100%;
  }
  


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.reset{
  background-color: #F0ABFC;
}